[submodule "spice-noise-daemon"]
	path = spice-noise-daemon
	url = git@github.com:tareqdandachi/spice-noise-daemon.git
[submodule "modules/taper/tapers"]
	path = modules/taper/tapers
	url = git@github.com:qnngroup/tapers.git
